:root {
    --skyTrain: #3C86BC;
    --tuktuk: #FFCD2F;
    --scooter: #262C34;
    --boat: #FFFFFF;
    --bus: #232B92;
    --choosing: none;
    --showing: 0%;
    --textchoose: none;
}

.content-cleanVehicle {
    width: 80%;
    max-width: 1024px;
    margin: auto;
}

.select-cleanVehicle {
    border-radius: 25px;
    background-color: #91BADF;
    border: 2px solid #91BADF;
    padding: 10px;
    width: 100%;
    margin: auto;
    height: 30rem;
    text-align: center;
}

.choose-cleanVehicle {
    color: var(--textchoose);
    border-radius: 25px;
    background: var(--choosing);
    border: 2px solid var(--choosing);
    padding: 10px;
    width: 100%;
    margin: auto;
    height: 30rem;
}

.gird-main-cleanVehicle {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: auto;
}

.gird-select-cleanVehicle {
    margin-left: 3rem;
    display: flex;

}

.gird-choose-cleanVehicle {
    display: grid;
}

.gird-choose-cleanVehicle-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gird-choose-sub-cleanVehicle-content {
    display: grid;
    grid-template-rows: repeat(3, 5rem);
}

.select-Vehicle {
    position: relative;
    text-align: center;
    padding: 10px;
    border-right: 25px solid transparent;
    height: 0;
    border-top-left-radius: 40px;
    width: 125px;
}

.select-Vehicle:after {
    content: ' ';
    top: 14px;
    left: 5px;
    position: absolute;
    border-radius: 60px 60px 0 0;
    width: 140px;
    height: 10px;
    display: block;
}

.box-select-skyTrain {
    z-index: 5;
    border-bottom: 50px solid var(--skyTrain);
}

.box-select-skyTrain:after {
    background: var(--skyTrain);
}

.box-select-tuktuk {
    z-index: 4;
    border-bottom: 50px solid var(--tuktuk);
    margin-left: -1rem;
}

.box-select-tuktuk:after {
    background: var(--tuktuk);
}

.box-select-scooter {
    z-index: 3;
    border-bottom: 50px solid var(--scooter);
    margin-left: -1rem;
}

.box-select-scooter:after {
    background: var(--scooter);
}

.box-select-boat {
    z-index: 2;
    border-bottom: 50px solid var(--boat);
    margin-left: -1rem;
}

.box-select-boat:after {
    background: var(--boat);
}

.box-select-bus {
    z-index: 1;
    border-bottom: 50px solid var(--bus);
    margin-left: -1rem;
}

.box-select-bus:after {
    background: var(--bus);
}

.select-Vehicle-Text {
    margin-top: 1.5rem;
}

.content-cleanVehicle {
    margin-left: auto;
    margin-bottom: -3rem;
}

#choose-box {
    margin-bottom: -35.5rem;
    
}

#choose-box:after {
    background: var(--tuktuk);
}
#choosed-content{
    background: var(--choosing);
    opacity: var(--showing);
}
#choosed{
    color: var(--textchoose);
    opacity: var(--showing);
    margin-left: 3rem;
    border-bottom: 50px solid var(--choosing);
}
#choosed:after {
    background: var(--choosing);
}


#content-cleanVehicle-image {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    margin-top: 0;
    background-image: url("https://cdn.discordapp.com/attachments/1012021672590721096/1143390061279322242/pngegg.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
}
#choose_skyTrain, #choose_bus,#choose_scooter{
    color: white;
}
#choose_skyTrain, #choose_bus,#choose_scooter,#choose_boat,#choose_tuktuk:hover {
    cursor: pointer;
}










.content-WeatherReport {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.girdTopWeatherReport {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
    justify-content: center;
}

.gridSubWeatherReport {
    text-align: center;
}

.girdMidleWeatherReport {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    gap: 10px;
}

.girdLowWeatherReport {
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.gridInWeatherReport {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3fr, 1fr, 1fr);
    gap: 10px;
    text-align: center;
}

.sup-thisDay {
    grid-column: 1/ span 2;
    font-size: 1.1rem;
}

.sup-max {
    font-size: 1.2rem;
}

hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.thisDay {
    margin-right: -3rem;
}

.toDay {
    justify-self: start;
}

.maxTemperature {
    justify-self: end;
}

.minTemperature {
    margin-left: -3rem;
}

.sup-image-col {
    justify-self: center;
    width: 5rem;
    height: 5rem;
    background: url(https://cdn.discordapp.com/attachments/1012021672590721096/1152540965085646928/image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-column: 1/ span 2;
}

.sup-image-h1 {
    justify-self: center;
    width: 5rem;
    height: 5rem;
    background: url(https://cdn.discordapp.com/attachments/1012021672590721096/1152540965085646928/image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-self: end;
    margin-top: auto;
    margin-right: -4rem;
}

.headTemperature {
    justify-self: center;

}

.imageAndh1 h1 {
    font-size: 5rem;
    margin-bottom: 0px;
    margin-top: 1rem;
}

.blue-box {
    background-color: lightblue;
}

.imageAndh1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.Province h3 {
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 1rem;
}

.How-weather h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 1rem;
}

.content-opening_page {
    width: 80%;
    max-width: 600px;
    margin: auto;
    height: 20rem;
}

.content-pros {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    height: 10rem;
}

.content-share {
    margin-top: 10rem;
    width: 80%;
    max-width: 600px;
   margin-left: auto;
   margin-right: auto;
    height: 10rem;
}