* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    overflow-x: hidden;
}

button {
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Class ---------------------------------------------------------------------------------------------------- */

.container {
    margin: auto;
    /* background: navy; */
    max-width: 1200px;
}

.round-button {
    /* position: absolute; */
    /* z-index: 2; */
    border-radius: 20px;
    padding: 1rem;
    border: 0;
    margin: 2rem;
    text-decoration: none;
    background: #fff3;
    color: white;
    box-shadow: 5px 5px #0003;
}



.scrolling-text {
    max-height: 150px;
    background: white;
    color: orange;
    font-size: 4rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.very-high-padding {
    padding: 20% 0 20% 0;
}

.weather-svg {
    --scroll: 0;
    height: 600px;
    animation: weather-scroll-animation 6s infinite, display-set;
}

.center {
    margin: auto;
}

.svg-button {
    vertical-align: middle;
}

.full-page-height {
    min-height: 100vh;
}

.places-grid-items {
    background: red;
}


/*------------------------------------*/
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    padding: 10px;
}

.fade-cloud {
    width: 100%;
    min-height: 176.5vh;
    max-height: 176.5vh;
    position: absolute;
    overflow: hidden;
    /* background: red; */
}

/* ID ---------------------------------------------------------------------------------------------------- */

#background-1 {
    background: rgb(80, 148, 209);
    background: linear-gradient(0deg, rgba(80, 148, 209, 1) 0%, rgba(137, 186, 221, 1) 100%);
}

#background-2 {
    background: #d9d9d9;
}

#dust-sect {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    min-width: 100vw;
}

#section-1 {
    height: 100vh;
    width: 90vw;
}

#logo-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#weather-sect {
    margin: auto;
    /* background-image: url("/images/svgs/weather-rain.svg"); */
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 600px;
    /* max-height: 600px; */
    min-width: 600px;
    min-height: 600px;
    /* overflow: auto; */
    white-space: nowrap;
    /* background: blueviolet; */
}

#places-sect {
    background: #d9d9d9;
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: calc(100vh - 100px);
    background: navy;
}

#four-places-svg {
    height: 25%;
    /* margin: 25%; */
}

#running-number-sect {
    background: rgb(156, 164, 173);
    background: linear-gradient(0deg, rgba(156, 164, 173, 1) 0%, rgba(51, 65, 75, 0.89) 100%);
}

#graph-sect {
    background: rgb(155, 162, 170);
    background: linear-gradient(180deg, rgba(155, 162, 170, 1) 0%, rgba(140, 141, 143, 1) 100%);
}

#personal-car-sect {
    background: rgb(140, 142, 144);
    background: linear-gradient(180deg, rgba(140, 142, 144, 1) 0%, rgba(60, 75, 88, 1) 100%);
}

#go-to-transport-sect {
    background: rgb(61, 75, 88);
    background: linear-gradient(180deg, rgba(61, 75, 88, 1) 0%, rgba(32, 34, 37, 1) 100%);
}

#cloud-1 {
    position: absolute;
    height: 20px;
    top: 10%;
}

#main-icon {
    height: 50%;
    width: 50%;
}

#fade-cloud-1 {
    position: absolute;
    top: -30em;
    left: 0;
}

#fade-cloud-2 {
    position: absolute;
    top: 13em;
    left: -60em;
}

#fade-cloud-3 {
    position: absolute;
    top: 37em;
    left: 100em;
}

#fade-cloud-4 {
    position: absolute;
    top: 80em;
    left: 20em;
}

#dust-1 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
}

#dust-2 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 0.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-3 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 1s;
}

#dust-4 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 1.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-5 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 2s;
}

/* Keyframes ---------------------------------------------------------------------------------------------------- */

@keyframes weather-scroll-animation {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(calc(1 * -609.67px));
    }

    40% {
        transform: translateX(calc(2 * -609.67px));
    }

    60% {
        transform: translateX(calc(3 * -609.67px));
    }

    80% {
        transform: translateX(calc(4 * -609.67px));
    }

    100% {
        transform: translateX(calc(5 * -609.67px));
    }
}

@keyframes display-set-animation {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

@keyframes arrow-animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}