* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
}

button {
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Class ---------------------------------------------------------------------------------------------------- */

.container {
    margin: auto;
    /* background: navy; */
    max-width: 1200px;
}

.round-button {
    border-radius: 20px;
    padding: 1rem;
    border: 0;
    margin: 2rem;
    text-decoration: none;
    background: #fff3;
    color: white;
    box-shadow: 5px 5px #0003;
}



.scrolling-text {
    max-height: 150px;
    background: white;
    color: orange;
    font-size: 4rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.very-high-padding {
    padding: 20% 0 20% 0;
}

.weather-svg {
    height: 600px;
}

.center {
    margin: auto;
}

.svg-button {
    vertical-align: middle;
}

.full-page-height {
    min-height: 100vh;
}

/* ID ---------------------------------------------------------------------------------------------------- */

#background-1 {
    background: rgb(80, 148, 209);
    background: linear-gradient(0deg, rgba(80, 148, 209, 1) 0%, rgba(137, 186, 221, 1) 100%);
}

#background-2 {
    background: #d9d9d9;
}

#dust-sect {
    background: #fff;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    min-width: 100vw;
}

#section-1 {
    height: 100vh;
    width: 90vw;
}

#logo-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#weather-sect {
    margin: auto;
    background-image: url("/images/svgs/weather-rain.svg");
    background-size: cover;
    overflow-x: hidden;
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    animation: weather-scroll-animation 10s infinite;
    /* background: blueviolet; */
}

#places-sect {
    background: #d9d9d9;
    display: grid;
    grid-template-columns: 20% 80%;
}

#running-number-sect {
    background: rgb(156, 164, 173);
    background: linear-gradient(0deg, rgba(156, 164, 173, 1) 0%, rgba(51, 65, 75, 0.89) 100%);
}

#graph-sect {
    background: rgb(155, 162, 170);
    background: linear-gradient(180deg, rgba(155, 162, 170, 1) 0%, rgba(140, 141, 143, 1) 100%);
}

#personal-car-sect {
    background: rgb(140, 142, 144);
    background: linear-gradient(180deg, rgba(140, 142, 144, 1) 0%, rgba(60, 75, 88, 1) 100%);
}

#go-to-transport-sect {
    background: rgb(61, 75, 88);
    background: linear-gradient(180deg, rgba(61, 75, 88, 1) 0%, rgba(32, 34, 37, 1) 100%);
}

#cloud-1 {
    position: absolute;
    height: 20px;
    top: 10%;
}

#main-icon {
    height: 50%;
    width: 50%;
}

#four-places-svg {
    height: 25%;
    margin: 25%;
}

/* Keyframes ---------------------------------------------------------------------------------------------------- */

@keyframes weather-scroll-animation {
    0% {
        background-image: url("/images/svgs/weather-rain.svg");
    }

    20% {
        background-image: url("/images/svgs/weather-smog.svg");
    }

    40% {
        background-image: url("/images/svgs/weather-smoke.svg");
    }

    60% {
        background-image: url("/images/svgs/weather-sunsmog.svg");
    }

    80% {
        background-image: url("/images/svgs/weather-cloud.svg");
    }

    100% {
        background-image: url("/images/svgs/weather-rain.svg");
    }
}