* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    overflow-x: hidden;
}

button {
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Class ---------------------------------------------------------------------------------------------------- */

.container {
    margin: auto;
    /* background: navy; */
    max-width: 1200px;
}

.main-grid-page-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-content: center;
}

.round-button {
    border-radius: 20px;
    padding: 1rem;
    border: 0;
    margin: 4rem;
    text-decoration: none;
    background: #fff3;
    color: white;
    box-shadow: 5px 5px #0003;
}



.scrolling-text {
    max-height: 150px;
    background: white;
    color: orange;
    font-size: 4rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.very-high-padding {
    padding: 20% 0 20% 0;
}

.weather-svg {
    --scroll: 0;
    height: 600px;
    animation: weather-scroll-animation 6s infinite, display-set;
}

.center {
    margin: auto;
}

.svg-button {
    vertical-align: middle;
}

.full-page-height {
    min-height: 100vh;
}

.places-grid-items {
    background: red;
}


/*------------------------------------*/
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    padding: 10px;
}

.fade-cloud {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: min-content;
    position: absolute;
    overflow: hidden;
}

.lo-btn {
    animation: lo-btn-anim 1s infinite;
    background: none;
    border: none;
    position: absolute;
}

.lo-btn.lo-btn-1 {
    top: 110%;
    left: 67%;

}

.lo-btn.lo-btn-2 {
    top: 150%;
    left: 57%;

}

.lo-btn.lo-btn-3 {
    top: 135%;
    left: 40%;

}

.lo-btn.lo-btn-4 {
    top: 160%;
    left: 28%;

}

.lo-btn:hover {
    cursor: pointer;
}

.svg.car {
    --position: 0;
    position: absolute;
    top: 100%;
    left: calc(0px + var(--position)*1px);
}

/* ID ---------------------------------------------------------------------------------------------------- */

#background-1 {
    height: 2203px;
    background-image: url("images/images/Desktop2.png");
    background-size: cover;
    /* background: rgb(80, 148, 209); */
    /* background: linear-gradient(0deg, rgba(80, 148, 209, 1) 0%, rgba(137, 186, 221, 1) 100%); */
}

#background-2 {
    background: #d9d9d9;
}

#dust-sect {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    min-width: 100vw;
}

#section-1 {
    height: 100vh;
    width: 90vw;
}

#logo-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#weather-container {
    margin-top: 70%;
    background-size: cover;
    overflow: hidden;
    width: 600px;
    min-height: 600px;
    white-space: nowrap;
}

#weather-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


#places-sect {
    /* min-height: calc(100vh - 100px); */
    background: #d9d9d9;
}

#running-number-sect {
    background: rgb(156, 164, 173);
    background: linear-gradient(0deg, rgba(156, 164, 173, 1) 0%, rgba(51, 65, 75, 0.89) 100%);
}

#graph-sect {
    background: rgb(155, 162, 170);
    background: linear-gradient(180deg, rgba(155, 162, 170, 1) 0%, rgba(140, 141, 143, 1) 100%);
    display: grid;
    grid-template-rows: 1 1;
}

#graph-sect-top {
    background-color: rgba(235, 235, 235, 1);
    padding: 1.5em;
}

#graph-sect-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
}

#graph-sect-bottom-1 {
    background-color: rgba(253, 62, 0, 1);
}

#graph-sect-bottom-2 {
    background-color: rgba(190, 190, 190, 1);
    padding-left: 9rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    gap: 2rem;
}

#graph-sect-bottom-2-pic img {
    /* background-image: url("images/images/Factory.png");
    bac */
    height: 10em;
    width: auto;
}

#graph-sect-bottom-2-text h1 {
    /* background-image: url("images/images/Factory.png");
    bac */
    font-size: 3rem;
}

#personal-car-sect {
    background: rgb(140, 142, 144);
    background: linear-gradient(180deg, rgba(140, 142, 144, 1) 0%, rgba(60, 75, 88, 1) 100%);
}

#go-to-transport-sect {
    background: rgb(61, 75, 88);
    background: linear-gradient(180deg, rgba(61, 75, 88, 1) 0%, rgba(32, 34, 37, 1) 100%);
}

#cloud-1 {
    position: absolute;
    height: 20px;
    top: 10%;
}

#main-icon {
    height: 50%;
    width: 50%;
}

#fade-cloud-1 {
    grid-column: 1 / span 2;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#fade-cloud-1 img {
    position: relative;
    top: -25rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-2 {
    width: 100%;
    overflow: hidden;
}

#fade-cloud-2 img {
    position: relative;
    left: -50rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-3 {
    grid-row: auto;
    width: 100%;
    overflow: hidden;
}

#fade-cloud-3 img {
    position: relative;
    left: 30rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-4 {
    grid-row: auto;
    grid-column: 1 / span 2;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#dust-1 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
}

#dust-2 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 0.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-3 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 1s;
}

#dust-4 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 1.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-5 {
    width: 100%;
    height: 20%;
    background: grey;
    transition: 0.5s;
    transition-delay: 2s;
}

/* Keyframes ---------------------------------------------------------------------------------------------------- */

@keyframes weather-scroll-animation {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(calc(1 * -609.67px));
    }

    40% {
        transform: translateX(calc(2 * -609.67px));
    }

    60% {
        transform: translateX(calc(3 * -609.67px));
    }

    80% {
        transform: translateX(calc(4 * -609.67px));
    }

    100% {
        transform: translateX(calc(5 * -609.67px));
    }
}

@keyframes display-set-animation {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

@keyframes arrow-animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes lo-btn-anim {
    0% {
        transform: translateY(0%);
        opacity: 100%;
    }

    50% {
        transform: translateY(-10%);
        opacity: 20%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}