* {
    --seesad: #fd3e00;
    --seethao: #565656;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-family: 'Prompt', sans-serif;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Class ---------------------------------------------------------------------------------------------------- */

.container {
    margin: auto;
    max-width: 1200px;
}

.main-grid-page-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-content: center;
}

.round-button {
    border-radius: 20px;
    padding: 1rem;
    border: 0;
    margin: 4rem;
    text-decoration: none;
    background: #fff3;
    color: white;
    box-shadow: 5px 5px 10px #0003;
}



.scrolling-text-frame {
    height: 6vw;
    background: white;
    color: var(--seesad);
    font-size: 2vw;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    /* padding: 1rem; */
}

.scrolling-text-inner {
    font-weight: 400;
    animation: scrolling-text-anim 8s infinite linear;
}

.very-high-padding {
    padding: 20% 0 20% 0;
}

.weather-svg {
    --scroll: 0;
    --size: 500px;
    height: var(--size);
    animation: weather-scroll-animation 6s infinite, display-set;
}

.center {
    margin: auto;
}

.svg-button {
    vertical-align: middle;
}

.full-page-height {
    background: none;
    min-height: 100vh;
}

.places-grid-items {
    background: red;
}


/*------------------------------------*/
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.scroll-container img {
    padding: 10px;
}

.fade-cloud {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: min-content;
    position: absolute;
    overflow: hidden;
}

.map-lo {
    background-image: url('images/svgs/map.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 716px;
}


.lo-btn {
    animation: lo-btn-anim 1.5s infinite;
    background: none;
    border: none;
    position: absolute;
    transition: all .5s;
}

.lo-btn:hover {
    animation: none;
}

.lo-btn>.svg {
    width: 80%;
}

.lo-btn.lo-btn-1 {
    top: 10%;
    left: 50%;
    animation-delay: 0s;

}

.lo-btn.lo-btn-2 {
    top: 30%;
    left: 40%;
    animation-delay: .25s;

}

.lo-btn.lo-btn-3 {
    top: 35%;
    left: 60%;
    animation-delay: .5s;

}

.lo-btn.lo-btn-4 {
    top: 65%;
    left: 25%;
    animation-delay: .75s;

}

.lo-btn:hover {
    cursor: pointer;
}

.svg.car {
    --position: 0;
    position: absolute;
    top: 70%;
    left: calc(-10% + (var(--position) / 10) * 1%);
    width: 10vw;
}

.svg.logo {
    width: 50%;
}

.overlay {
    width: 800px;
    height: 500px;
    background-image: url('images/images/overlay_bg_desktop.png');
    position: absolute;
    transition: all .3s;
    z-index: 3;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overlay-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0001;
    z-index: 3;
    transition: all .3s;
    top: -100%;
}

.svg.graph {
    width: 15vw;
}

.svg.graph-traffic {
    width: 5vw;
}

.cloud {
    position: absolute;
    animation: cloud-anim-lr 50s infinite linear;
}

.c1 {
    top: -80%;
    left: -50%;
    opacity: 100%;
}

.c2 {
    top: 50%;
    left: -80%;
    opacity: 100%;
}


/* ID ---------------------------------------------------------------------------------------------------- */

#background-1 {
    height: 2203px;
    /* background-image: url("images/images/Desktop2.png");
    background-size: cover; */
    background: rgb(80, 148, 209);
    background: linear-gradient(0deg, rgba(80, 148, 209, 1) 0%, rgba(137, 186, 221, 1) 100%);
}

#background-2 {
    background: #d9d9d9;
}

#dust-sect {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    min-width: 100%;
    transition: all 5s;
}

#dust-guide {
    margin: auto;
    color: white;
    font-size: 3rem;
    opacity: 30%;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 1s;
    animation: dust-guide-anim 1.5s infinite linear;

}

#dust-guide>.small {
    font-weight: 200;
    font-size: 2rem;
}

#dust-guide,
#dust-sect:hover {
    cursor: pointer;
}

#section-1 {
    height: 100vh;
    width: 90vw;
}

#logo-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-and-triangle {
    background: var(--seesad);
}


#weather-container {
    --size: 500px;
    margin-top: 70%;
    background-size: cover;
    overflow: hidden;
    width: var(--size);
    min-height: var(--size);
    white-space: nowrap;
}

#weather-sect {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


#places-sect {
    height: calc(100vh - 6vw);
    background: #d9d9d9;
    display: grid;
    grid-template-columns: 40% 60%;
}

#places-text {
    margin: 30% 0px 0px auto;
    text-align: start;
    font-size: 4rem;
    color: var(--seethao);
    line-height: 100%;
}

#running-number-sect {
    background: linear-gradient(rgba(51, 65, 75, 0.86), rgba(156, 164, 173, 1), rgba(140, 141, 143, 1));
}

#running-number-info-1 {
    padding: 10rem;
}

#running-number-info-1 p:nth-child(1),
#running-number-info-1 p:nth-child(3) {
    font-size: 2rem;
    margin: 4rem;
}

#running-number-info-2 {
    padding: 10rem;
}

#running-number-info-2 h1:nth-child(1) {
    font-size: 4rem;
    font-weight: 600;
    margin: 2rem;
}

#running-number-info-2 h1:nth-child(2) {
    font-size: 4rem;
    font-weight: 400;
    margin: 2rem;
}

#running-number-info-2 h1:nth-child(3) {
    font-size: 4rem;
    font-weight: 400;
    margin: 2rem;
}

#running-number-info-3 {
    padding: 10rem;
}

#running-number-info-aqi {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    padding: 3rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

#running-number-info-aqi-1 {
    background-color: rgba(255, 255, 255, 1);
}

#running-number-info-aqi-2 {
    background-color: rgba(231, 231, 231, 1);
}

#running-number-info-aqi-3 {
    background-color: rgba(198, 198, 198, 1);
}

#running-number-info-aqi-4 {
    background-color: rgba(163, 163, 163, 1);
}

#running-number-info-aqi-5 {
    background-color: rgba(115, 115, 115, 1);
}

#running-number-info-box {
    margin: auto;
    padding: 1rem;
    width: fit-content;
    background-color: rgba(198, 198, 198, 1);
    border-radius: 1rem;
    justify-self: center;
}

#running-number-info-box h1 {
    color: rgba(253, 62, 0, 1);
}

#graph-sect {
    display: grid;
    grid-template-rows: auto auto;
}

#graph-sect-top {
    background-color: rgba(235, 235, 235, 1);
    padding: 1.5em;
}

#graph-sect-bottom {
    display: grid;
    grid-template-columns: 70% 30%;
}

#graph-sect-bottom-1 {
    background-color: rgba(253, 62, 0, 1);
}

#graph-sect-bottom-1-text {
    text-align: right;
    padding-top: 5rem;
    padding-right: 10rem;
    color: white;
}

#graph-sect-bottom-1-text h1 {
    font-size: 3rem;
}

#graph-sect-bottom-1-svg .svg {
    margin-left: 1%;
    margin-right: 1%;
}

#graph-sect-bottom-1-svg hr {
    border: 1px dashed white;
}

#graph-sect-bottom-2 {
    background-color: rgba(190, 190, 190, 1);
}

#graph-sect-bottom-2-contain {
    margin: auto;
    width: fit-content;
    text-align: left;
    padding: 5rem;
}

#graph-sect-bottom-2-contain img {
    /* height: 10em; */
    width: 15vw;
}

#graph-sect-bottom-2-contain h1 {
    font-size: 3rem;
}

#personal-car-sect {
    background: rgb(140, 142, 144);
    background: linear-gradient(180deg, rgba(140, 142, 144, 1) 0%, rgba(60, 75, 88, 1) 100%);
}

#go-to-transport-sect {
    background: rgb(61, 75, 88);
    background: linear-gradient(180deg, rgba(61, 75, 88, 1) 0%, rgba(32, 34, 37, 1) 100%);
}

#main-icon {
    height: 50%;
    width: 50%;
}

#fade-cloud-1 {
    grid-column: 1 / span 2;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#fade-cloud-1 img {
    position: relative;
    top: -25rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-2 {
    width: 100%;
    overflow: hidden;
}

#fade-cloud-2 img {
    position: relative;
    left: -50rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-3 {
    grid-row: auto;
    width: 100%;
    overflow: hidden;
}

#fade-cloud-3 img {
    position: relative;
    left: 30rem;
    /* You may need to adjust this for proper positioning */
}

#fade-cloud-4 {
    grid-row: auto;
    grid-column: 1 / span 2;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#dust-1 {
    width: 100%;
    height: 20%;
    background-image: url("images/images/dust.png");
    background-position-y: 0%;
    transition: 0.5s;
}

#dust-2 {
    width: 100%;
    height: 20%;
    background-image: url("images/images/dust.png");
    background-position-y: 20%;
    transition: 0.5s;
    transition-delay: 0.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-3 {
    width: 100%;
    height: 20%;
    background-image: url("images/images/dust.png");
    background-position-y: 40%;
    transition: 0.5s;
    transition-delay: 1s;
}

#dust-4 {
    width: 100%;
    height: 20%;
    background-image: url("images/images/dust.png");
    background-position-y: 60%;
    transition: 0.5s;
    transition-delay: 1.5s;
    margin-left: auto;
    margin-right: 0;
}

#dust-5 {
    width: 100%;
    height: 20%;
    background-image: url("images/images/dust.png");
    background-position-y: 80%;
    transition: 0.5s;
    transition-delay: 2s;
}

#increasing-num {
    --num: 0;
    font-size: 5rem;
    font-weight: 600;
}

/* Keyframes ---------------------------------------------------------------------------------------------------- */

@keyframes weather-scroll-animation {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(calc(-1 * var(--size) + 9.67px));
    }

    40% {
        transform: translateX(calc(-2 * var(--size) + 9.67px));
    }

    60% {
        transform: translateX(calc(-3 * var(--size) + 9.67px));
    }

    80% {
        transform: translateX(calc(-4 * var(--size) + 9.67px));
    }

    100% {
        transform: translateX(calc(-5 * var(--size) + 9.67px));
    }
}

@keyframes display-set-animation {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

@keyframes arrow-animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes lo-btn-anim {
    0% {
        transform: translateY(0%);
        opacity: 100%;
    }

    50% {
        transform: translateY(-10%);
        opacity: 20%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes scrolling-text-anim {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-300vw);
    }
}

@keyframes dust-guide-anim {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 10%;
    }

    100% {
        opacity: 50%;
    }
}

@keyframes cloud-anim-lr {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}


/* media ---------------------------------------------------------------------------------------------------- */


@media(width<=1200px) {
    .map-lo {
        width: auto;
    }

    .lo-btn>.svg {
        width: 50%;
    }

    #places-text {
        margin: auto;
    }

    .lo-btn.lo-btn-1 {
        top: 20%;
        left: 50%;
        animation-delay: 0s;

    }

    .lo-btn.lo-btn-2 {
        top: 40%;
        left: 35%;
        animation-delay: .25s;

    }

    .lo-btn.lo-btn-3 {
        top: 35%;
        left: 60%;
        animation-delay: .5s;

    }

    .lo-btn.lo-btn-4 {
        top: 65%;
        left: 25%;
        animation-delay: .75s;

    }
}

@media(width<=768px) {

    #places-sect {
        grid-template-columns: 1fr;
        height: auto;
    }

    #places-text {
        margin: 10% auto auto auto;
    }

    .map-lo {
        /* background: #fd3e00; */
        background-size: cover;
        width: 100%;
        height: 100vw;
        padding: 10% 0px 10% 0px;
    }

    .lo-btn>.svg {
        width: 15vw;
    }

    .lo-btn.lo-btn-1 {
        top: 5%;
        left: 50%;
        animation-delay: 0s;

    }

    .lo-btn.lo-btn-2 {
        top: 25%;
        left: 35%;
        animation-delay: .25s;

    }

    .lo-btn.lo-btn-3 {
        top: 30%;
        left: 60%;
        animation-delay: .5s;

    }

    .lo-btn.lo-btn-4 {
        top: 60%;
        left: 20%;
        animation-delay: .75s;

    }

    .overlay {
        width: 330px;
        height: 330px;
        background-image: url('images/images/overlay_bg.png');
    }

    .weather-svg {
        --size: 100vw;
    }

    .weather-container {
        --size: 100vw;
    }

    .scrolling-text-frame {
        height: 14vw;
        font-size: 5vw;
    }

    .svg.car {
        width: 20vw;
        top: 40%;
    }

}